# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
Frontend/dist
Frontend/dist-server
Frontend/tmp
Frontend/out-tsc

# dependencies
Frontend/node_modules

# IDEs and editors
Frontend/.idea
Frontend/.project
Frontend/.classpath
Frontend/.c9/
Frontend/*.launch
Frontend/.settings/
Frontend/*.sublime-workspace

# IDE - VSCode
Frontend/.vscode/*
Frontend/!.vscode/settings.json
Frontend/!.vscode/tasks.json
Frontend/!.vscode/launch.json
Frontend/!.vscode/extensions.json

# misc
Frontend/.sass-cache
Frontend/connect.lock
Frontend/coverage
Frontend/libpeerconnection.log
Frontend/npm-debug.log
Frontend/yarn-error.log
Frontend/testem.log
Frontend/typings

# e2e
Frontend/e2e/*.js
Frontend/e2e/*.map

# System Files
Frontend/.DS_Store
Frontend/Thumbs.db
