<h3>Welcome {{common.user.username}}</h3>

<div class="row">
  <div class="col-md-6">
    <h4>Please choose your courses</h4>
  </div>
  <div class="col-md-3">
    <button class="btn btn-warning" (click)="resetSelection()">Reset</button>
  </div>
  <div class="col-md-3">
    <button class="btn btn-success" (click)="saveSelection()">Save</button>
  </div>
</div>

<br>

<div class="table-responsive">
  <table class="table table-striped">
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Credit Hours</th>
      <th>Instructor</th>
      <th>Description</th>
      <th>Select</th>
      <th>Registeration Date</th>
    </tr>
    <tr *ngFor="let c of getCoursesCodes()">
      <td width="6.25%">{{c}}</td>
      <td width="18.75%">{{common.courses[c]['name']}}</td>
      <td width="6.25%">{{common.courses[c]['credithours']}}</td>
      <td width="12.5%">{{common.courses[c]['instructorname']}}</td>
      <td width="25%">{{common.courses[c]['description']}}</td>
      <td width="12.5%">
        <button class="{{buttonClass(c)}}" (click)="selectCourse(c)">{{buttonText(c)}}</button>
      </td>
      <td width="18.75%">{{getRegisterationDate(c)}}</td>
    </tr>
  </table>
</div>