<h2>Register to become a wizard!</h2>

<form method="post">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" name="username" required [(ngModel)]="user.username" #name="ngModel">
    <div [hidden]="name.valid || name.pristine"
         class="alert alert-danger">
      Username is required
    </div>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="{{emailClass()}}" name="email" email required [(ngModel)]="user.email" #email="ngModel">
    <div [hidden]="validateEmail()" class="alert alert-danger">
      Please enter a valid email
    </div>
    
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" required [(ngModel)]="user.password" #pwd="ngModel">
    <div [hidden]="pwd.valid || pwd.pristine"
         class="alert alert-danger">
      password is required
    </div>
  </div>

  <div class="form-group">
    <label for="password2">Repeat password</label>
    <input type="password" class="{{repPwdClass()}}" name="password2" required [(ngModel)]="repeatedPassword" #pwd2="ngModel">
    <div [hidden]="checkPassword()"
         class="alert alert-danger">
      Passwords do not match
    </div>
  </div>

  <button type="submit" class="btn btn-success" (click)="register()">Register</button>

</form>